<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="powershell" type="PSM.Setup, PSM" requirePermission="false" />
    <section name="stores" type="PSM.Stores.Setup, PSM" requirePermission="false" />
  </configSections>

  <powershell scriptDirectory="C:\Users\lendodd\Desktop\PSMonitor\build\Program Files\PSMonitor\scripts" defaultInterval="60000" defaultNamespace="root" />

  <stores type="PSM.Stores.DB">
    <settings>
      <add for="PSM.Stores.HTTP" name="url" value="http://localhost:54926/" />
      <add for="PSM.Stores.HTTP" name="connectionTimeout" value="5000" />
      <add for="PSM.Stores.DB" name="connectionString" value="Data Source=147.108.136.141\ADVANTAGE2012,50000;Initial Catalog=PSMdb;Integrated Security=False;User Id=psm;Password=psm;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Max Pool Size=1000" />
      <add for="PSM.Stores.Advantage" name="connectionString" value="Data Source=(local)\ADVANTAGE2005;Initial Catalog=advantage;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Max Pool Size=1000" />
      <add for="PSM.Stores.DB" name="pollingInterval" value="5000" />
    </settings>
  </stores>

</configuration>