<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="master" type="PSMonitor.Setup, PSM" requirePermission="false" />
    <section name="stores" type="PSMonitor.Stores.Setup, PSM" requirePermission="false" />
  </configSections>

  <master scriptDirectory="C:\temp" defaultTimeout="5000" defaultInterval="60000" defaultNamespace="root" timerFrequency="100"/>
  
  <stores type="PSMonitor.Stores.DB">
    <settings>
      <add for="PSMonitor.Stores.HTTP" name="url" value="http://localhost:54926/" />
      <add for="PSMonitor.Stores.DB" name="connectionString" value="Data Source=(local)\ADVANTAGE2012;Initial Catalog=PSMdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
      <add for="PSMonitor.Stores.DB" name="maxAge" value="365" />
    </settings>
  </stores>

</configuration>