<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.5.0" targetFramework="net46" />
  <package id="OxyPlot.Core" version="2015.1.976-alpha" targetFramework="net46" />
  <package id="OxyPlot.Wpf" version="2015.1.976-alpha" targetFramework="net46" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0" targetFramework="net46" />
</packages>